<site-header></site-header>

<header id="page-header">
    <div class="jumbo">
        <h1>Connection Center</h1>
    </div>
</header>

<div class="container">
    <p-dataView #dv [value]="model" [paginator]="true" [rows]="2" paginatorPosition="both" filterBy="FullName">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                
                <div class="ui-g-6 ui-md-4 filter-container">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Search by name" (keyup)="dv.filter($event.target.value)">
                    </div>
                </div>
              
            </div>
        </div>
    </p-header>
    <ng-template let-data pTemplate="listItem">
        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="col-md-1">
          <img src="../assets//images//profiles.png">
            </div>
            <div class="col-md-11">
                <div class="ui-g-12 ui-md-8 peoples-details">
                    <div class="ui-g">
                        <div class="col-md-3">Person Id: </div>
                        <div class="col-md-9"><b>{{data.PersonId}}</b></div>
    
                        <div class="col-md-3">Full Name: </div>
                        <div class="col-md-9"><b>{{data.FullName}}</b></div>
                    </div>
                </div>
            </div>
         
        </div>
    </ng-template>
</p-dataView>  
</div>
<site-footer></site-footer>