<header id="hero" class="auth-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- hero navigation -->
          <div id="hero-nav">
            <a class="no-outline" routerLink="/">
              <img class="sm brand" src="../../../assets/images/connection.png" alt="Steeple-Map" />
            </a>
            <site-menu></site-menu>
          </div>
          <!-- end of hero navigation -->
        </div>
      </div>
    </div>

  </header>
  