<nav>
    <ul>
      <li class="hide-when-loggedOut">
        <a  class="menu-item" routerLink="/home">Home</a>
      </li>
      <li class="hide-when-loggedOut">
        <a  class="menu-item" routerLink="/manage">Manage</a>
      </li>

      <li class="hide-when-loggedOut">
        <a  class="menu-item" routerLink="/reports">Reports</a>
      </li>
      <!-- avatar -->
      <li class="hide-when-loggedOut">
        <avatar-menu></avatar-menu>
      </li>
      <!-- end avatar --> 
    </ul>
  
  </nav>